{% load thumbnail %}
{% for post in posts %}
    <div class="profile__photo" style="position:relative;">
        {% if post.type == 'image' %}
            <img src="{% thumbnail post.post 299x277 quality=80 %}">
        {% else %}
            <video width="278" height="280">
                <source src="{{ post.post.url }}" type="video/mp4">
            </video>
            {% if post.type == 'video' %}
                        <i style="position: absolute; top: 15px; left: 15px; color: #fff; font-size: 20px"
                           class="fas fa-play"></i>
                    {% endif %}
        {% endif %}
        <div class="profile__photo-overlay">
            <div>
                    <span class="overlay__item">
                        <i class="fa fa-heart"></i>
                        {{ post.likes.count }}
                    </span>
                <span class="overlay__item">
                        <i class="fa fa-comment"></i>
                        {{ post.comments.count }}
                    </span>
            </div>
            <a href="{% url 'post:post_detail' post.id %}">Go to post</a>
        </div>
    </div>
{% endfor %}