{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/src/login/assets/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change password | {{ request.user.username }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/style.css' %}">
    <style>

        .errorlist {
            color: red;
        }

        .error input, .error select {
            border: 2px red solid;
        }
    </style>

</head>

<body>
{% include 'account/navbar.html' %}
<br>
<br>
<br>
<br>
<br>
<main id="edit-profile">
    <div class="edit-profile__container">
        <header class="edit-profile__header">
            <div class="edit-profile__avatar-container">
                {% if user.profile.photo %}
                    <img class="edit-profile__avatar" src="{{ user.profile.photo.url }}"/>
                {% else %}
                    <img class="edit-profile__avatar" src="{% static 'src/img/default_profile.png' %}" alt="">
                {% endif %}
            </div>
            <h4 class="edit-profile__username">{{ request.user.username }}</h4>
        </header>
        <form action="" class="edit-profile__form" method="post"> {% csrf_token %}
            {{ form.errors }}
            <div class="form__row">
                <label for="full-name" class="form__label">Old Password</label>
                {#                <input id="full-name" type="text" class="form__input"/>#}
                {{ form.old_password }}
            </div>
            <div class="form__row">
                <label for="full-name" class="form__label">New Password</label>
                {#                <input id="full-name" type="text" class="form__input"/>#}
                {{ form.new_password1 }}
            </div>
            <div class="form__row">
                <label for="full-name" class="form__label">Confirm New Password</label>
                {#                <input id="full-name" type="text" class="form__input"/>#}
                {{ form.new_password2 }}
            </div>
            <input style="cursor: pointer" type="submit" value="Change Password">
        </form>
    </div>
</main>
<footer class="footer">
    <div class="footer__column">
        <nav class="footer__nav">
            <ul class="footer__list">
                <li class="footer__list-item"><a href="#" class="footer__link">About Us</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Support</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Blog</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Press</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Api</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Jobs</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Privacy</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Terms</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Directory</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Language</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer__column">
        <span class="footer__copyright">© 2021 Instagram from Facebook</span>
    </div>
</footer>
<script src="{% static 'src/js/script.js' %}"></script>
<script src="{% static 'src/js/searchUsers.js' %}"></script>


</body>

</html>