{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    <link rel="icon" href="/static/src/login/assets/images/favicon.ico">
    <link rel="stylesheet" href="{% static 'src/css/style.css' %}"/>
    <style>
        body{
            background: #FAFAFA;
        }
        .content{
            max-width: 600px;
            height: auto;
            margin: auto;
            display: flex;
            flex-direction: column;
            background: #FFFFFF;
            border-radius: 5px;
            padding: 8px 0;

        }
        .content img{
            width: 44px;
            height: 44px;
            border-radius: 50%;
        }

    </style>
</head>
<body>

{% include 'account/navbar.html' %}
<br>
<br>
<br>
<h2 align="center">Suggested</h2>
<div class="content">
    {% for user in suggestions %}
        <div class="d-flex align-items-center justify-content-between" style="margin: 5px 0;{% if not forloop.last %}border-bottom: 1px solid #8e8e8e; {% endif %}">
            <div class="d-flex align-items-center">
                {% if user.profile.photo %}
                    <img src="{{ user.profile.photo.url }}" class="img-circle2"/>
                {% else %}
                    <img src="{% static 'src/img/default_profile.png' %}" class="img-circle2" alt="">
                {% endif %}
                <div>
                    <h3><a href="{% url 'profile' user.username %}" style="text-decoration: none; margin-left: 10px;"
                           class="text-dark">{{ user.username }}</a></h3>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<script src="{% static 'src/js/script.js' %}"></script>
</body>
</html>